<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd">
<!-- 导入外部资源文件 -->
<context:property-placeholder location="classpath:db.properties"/>

<context:component-scan base-package="com.yc.wowo">
	<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.RequestMapping"/>
	<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.RequestParam"/>
	<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ResponseBody"/>
	<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.GetMapping"/>
	<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.PostMapping"/>
	<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.RestController"/>
</context:component-scan>

<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
	<property name="driverClassName" value="${driver}"></property>
	<property name="url" value="${url}"></property>
	<property name="username" value="${user}"></property>
	<property name="password" value="${pwd}"></property>
</bean>

<!-- SqlSessionFactory -->
<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	<!-- 数据源配置 -->
	<property name="dataSource" ref="dataSource"></property>
	
	<!-- 自动扫描mybatis配置文件 -->
	<property name="configLocation" value="classpath:mybatis-config.xml"></property>
	
	<!-- mybatis映射文件mapper的位置，类路径下面的所以以Mapper.xml结尾的文件 -->
	<property name="mapperLocations" value="classpath:mapper/*Mapper.xml"></property>
	
	<!-- 别名 -->
	<property name="typeAliasesPackage" value="com.yc.wowo.bean"></property>
</bean>


<!-- 配置mybatis映射接口的代理实现 -->
<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
	<!-- 指定mapper映射文件对应的接口所在包路径 -->
	<property name="basePackage" value="com.yc.wowo.mapper"></property>

	<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
</bean>
<!-- 1.配置事务管理器 -->
<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	<property name="dataSource" ref="dataSource"></property>
</bean>

<!-- 启动事务注解 -->
<tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>

<!-- 文件上传的从处理类 -->
<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	<property name="defaultEncoding" value="utf-8"></property>
	<property name="maxUploadSize" value="10485760000"></property>
	<property name="maxInMemorySize" value="40860"></property>
</bean>
 

</beans>
