<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        https://www.springframework.org/schema/mvc/spring-mvc.xsd">
<!-- 要扫描的包路径 -->
<context:component-scan base-package="com.yc.wowo" use-default-filters="false">
	<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.RequestMapping"/>
	<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.RequestParam"/>
	<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ResponseBody"/>
	<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.GetMapping"/>
	<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.PostMapping"/>
	<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.RestController"/>
</context:component-scan>

<!-- 启用mvc注解 -->
<mvc:annotation-driven></mvc:annotation-driven>

<!-- 放过静态资源 -->
<mvc:default-servlet-handler/>

</beans>
